body {
    margin: 0;
    background: url("./images/фон.jpg");
    background-size: cover;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    margin: 0;
}

    p + p {
        margin-top: 15px;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.container {
    box-sizing: border-box;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    gap: 300px;
}




.header__logo {
    width: 154px;
    height: 88px;
}

.basket_ {
    width: 45px;
    height: 45px;
}

.fav_ {
    width: 45px;
    height: 45px;
}





.title-list {
    padding: 30px;
    margin: 100px 0 0 0;
}



.btn {
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
    color: #000;
}



/*о нас*/

.welcome__subtitle {
    font-weight: 400;
    font-size: 64px;
    color: #000;
}


.about-list {
    padding: 80px 70px;
    width: 1920px;
}

    .about-list.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.about__ {
    display: inline-block;
    margin: 50px;
    text-align: left;
}

.about__text {
    padding: 10px;
    margin:80px;
}

.about__desc {
    font-weight: 400;
    font-size: 32px;
    color: #000;
}



/*отзывы слайдер*/


.photo_title {
    padding: 150px;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
    margin: 100px;
}




.slider-container {
    position: relative;
    width: 445px;
    height: 526px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: black;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}




/*отзывы*/


.photo {
    padding: 50px 50px;
    max-width: 1920px;
}

    .photo.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }

.photo__card {
    width: 326px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 40px;
}

.photo-card__jpg {
    width: 326px;
    height: 487px;
    object-fit: cover;
}

.photo-card__text {
    padding: 50px 20px;
}


.photo-card__desc {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    }


/*форма отзыва*/

.forma_title {
    padding: 150px;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
    margin: 100px;
}


.forma {
    width: 1054px;
    height: 489px;
    margin: 50px;
}



.forma_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 48px;
    width: 224px;
    height: 88px;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    background: rgba(217, 217, 217, 0);
    transition: opacity 0.3s;
}







/*Подвал*/

.footer {
    padding: 30px 0;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #000;
    width: 1920px;
    height: 281px;
    background: rgba(217, 217, 217, 0.08);
}

    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.footer__list {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    gap: 45px;
}

.footer__logo {
    width: 94px;
    height: 54px;
}

.icons__list {
    display: flex;
    gap: 60px;
}

.footer__title {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    gap: 45px;
}